@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    p, label, h1, h2, h3, h4, h5, h6, li {
        @apply text-text
    }

    input[type="checkbox"], input[type="radio"] {
        @apply cursor-pointer
        focus:focus:ring-0 focus:ring-transparent;
    }

    input:where([type='checkbox']):checked, input[type="radio"]:checked {
        @apply bg-primary
    }

    input[type='checkbox']:checked, input[type="radio"]:checked {
        @apply bg-primary
    }
}

@layer components {
    input {
        @apply border-gray-300 rounded-md shadow-sm
        focus:outline-none focus:ring-1 focus:ring-primary focus:border-primary;
    }
}
